<%= form_for(@mood) do |f| %>
<% if @mood.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@mood.errors.count, "error") %> prohibited this mood from being saved:</h2>
  <ul>
    <% @mood.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :username %><br>
    <%= f.text_field :username, class: "form-control", :value => 'TEST' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :rating %><br>
    <%= f.text_field :rating, class: "form-control", :value => 'Input 0, 0.5 or 1'%>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :when %><br>
    <%= f.text_field :when, class: "form-control", :value => Time.now %>
  </div>
</div>
<div class="actions">
  <%= f.submit 'Create', class: "btn btn-primary" %>
</div>
<% end %>