<%= flash_messages %>

<h2>Mood History</h2>

<%= line_chart @moods.pluck(:when, :rating), legend: true%>


<div class="mood-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Username</th>
        <th class="col-md-2">Rating</th>
        <th class="col-md-2">When</th>
        <th class="col-md-4">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @moods.each do |mood| %>
        <tr>
          <td class="col-md-2"><%= mood.username %></td>
          <td class="col-md-2"><%= mood.rating %></td>
          <td class="col-md-2"><%= mood.when %></td>
          <td class="col-md-4">
            <%= link_to 'Show', mood_path(mood), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_mood_path(mood), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', mood_path(mood), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Mood', new_mood_path, class: "btn btn-primary" %>