<table class="track-listing">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th> 
    </tr>
  </thead>
  <tbody>
    <% @playlist.tracks.each do |track| %>
      <tr data-js-spotify-track="<%= track.spotify_id %>">
        <td><%= image_tag(track.image, size: 40) %></td>
        <td><%= track.name %></td>
        <td><%= track.artist.truncate(30) %></td>
        <td><%= track.album.truncate(30) %></td> 
      </tr>
    <% end %>
  </tbody>
</table>