<%= flash_messages %>

<h2>Weather</h2>

<%= render 'weather', location: @location %>

<h2>My playlist</h2>

<table>
  <tbody>
    <% @playlist.tracks.each do |track| %>
      <tr>
        <td><%= image_tag(track.image, size: 45) %></td>
        <td><%= track.name %></td>
        <td><%= track.artist %></td>
        <td><%= track.album %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Playlist stats</h3>

<dl>
  <dt>Number of tracks</dt>
  <dd><%= @playlist.size %></dd>

  <dt>Average valence</dt>
  <dd><%= @playlist.avg_valence %></dd>

  <dt>Max valence</dt>
  <dd><%= @playlist.max_valence %></dd>

  <dt>Min valence</dt>
  <dd><%= @playlist.min_valence %></dd>

  <dt>Valence distribution</dt>
  <dd><%= @playlist.valence_distribution.inspect %></dd>
</dl>