<%= flash_messages %>

<h2>Weather</h2>

<%= render 'weather', location: @location %>

<h2>Rate your mood</h2>

<%= render 'mood_rater' %>
<%= render 'toggle' %>

<h2>My playlist</h2>

<div data-js-player="<%= @current_user.credentials["token"] %>">
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <%= button_to "Refresh playlist", playlist_refresh_path, :method => :put %>
  <div class="flash -error -hide" data-js-error></div>
  <%= render 'track_listing' %>
  <%= render 'control_bar' %>
</div>

<h3>Playlist stats</h3>

<dl>
  <dt>Number of tracks</dt>
  <dd><%= @playlist.size %></dd>

  <dt>Average valence</dt>
  <dd><%= @playlist.avg_valence %></dd>

  <dt>Max valence</dt>
  <dd><%= @playlist.max_valence %></dd>

  <dt>Min valence</dt>
  <dd><%= @playlist.min_valence %></dd>

  <dt>Valence distribution</dt>
  <dd><%= @playlist.valence_distribution.inspect %></dd>
</dl>
