<%= flash_messages %>

<%  track_ids = [] %>
<%  track_id_string = "" %>
<%  @playlist.tracks.each do |track| %>
<%    track_id_string.concat("spotify:track:") %>
<%    track_id_string.concat(track.spotify_id) %>
<%    track_ids.append(track_id_string) %>
<%    track_id_string = "" %>
<%  end %>

<head>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>
<body>


  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = 'BQDVrVzoQyuwyzkf6cyCc5eXN1x5bcyJOYL6LKbIu3HcLEKtmkjmMj6YA_IxYMVddOlqYTARYzqdHefUny4K2xUkljAt2tcz0VFcaWCWY5FfP8IfEwWltvHCNYHYO838hfwhAM0fxuMXsi0o20mfGllyiUlIRdbLxJlsGfU-YOB0jwwrPehlYHE';
      var offset_value = 0;
      const player = new Spotify.Player({
        name: 'Web Playback SDK Quick Start Player',
        getOAuthToken: cb => { cb(token); }
      });

      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);

        document.getElementById("play_button").addEventListener("click", function(){

          const play = ({
            spotify_uri,
            offset,
            playerInstance: {
              _options: {
                getOAuthToken,
                id
              }
            }
          }) => {
            getOAuthToken(access_token => {
              fetch(`https://api.spotify.com/v1/me/player/play?device_id=${id}`, {
                method: 'PUT',
                body: JSON.stringify({ uris: spotify_uri, offset: { position: offset_value},}),
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': `Bearer ${access_token}`
                },
              });
            });
          };

          var myJsArray = <%=raw track_ids%>;

          console.log(myJsArray[0]);

          play({
            playerInstance: player,
            spotify_uri: myJsArray,
            offset: offset_value,
          });
      });

      document.getElementById("pause_button").addEventListener("click", function(){

        const pause = ({
          playerInstance: {
            _options: {
              getOAuthToken,
              id
            }
          }
        }) => {
          getOAuthToken(access_token => {
            fetch(`https://api.spotify.com/v1/me/player/pause?device_id=${id}`, {
              method: 'PUT',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${access_token}`
              },
            });
          });
          player.getCurrentState().then(state => {
            if (!state) {
              console.error('User is not playing music through the Web Playback SDK');
              return;
            }

            let {
              current_track,
            } = state.track_window;

            console.log('Currently Playing', current_track.uri);
            var myJsArray = <%=raw track_ids%>;
            offset_value = myJsArray.indexOf(current_track.uri);
            console.log('offset', offset_value);
          });
        };

        pause({
          playerInstance: player,
        });
    });

    document.getElementById("refresh_button").addEventListener("click", function(){
      console.log("clicked");
      $.ajax({
      async: false,
      cache: false,
      type: "GET",
      url: '/playlist/repopulate',
      data: {},
      success: function (data) {
      }});
      location.reload();
      });
    });
    // Connect to the player!
    player.connect();

  };
  </script>
</body>

<h2>Weather</h2>

<%= render 'weather', location: @location %>

<h2>Rate your mood</h2>

<%= render 'mood_rater' %>

<h2>My playlist</h2>

<button id="play_button">Play playlist</button>
<button id="pause_button">Pause playlist</button>
<button id="refresh_button">Refresh playlist</button>



<table>
  <tbody>
    <% @playlist.tracks.each do |track| %>
      <tr>
        <td><%= image_tag(track.image, size: 45) %></td>
        <td><%= track.name %></td>
        <td><%= track.artist %></td>
        <td><%= track.album %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Playlist stats</h3>

<dl>
  <dt>Number of tracks</dt>
  <dd><%= @playlist.size %></dd>
  <dt>Average valence</dt>
  <dd><%= @playlist.avg_valence %></dd>
  <dt>Tracks</dt>
  <dd><%=track_ids%></dd>
  <dt>Max valence</dt>
  <dd><%= @playlist.max_valence %></dd>

  <dt>Min valence</dt>
  <dd><%= @playlist.min_valence %></dd>

  <dt>Valence distribution</dt>
  <dd><%= @playlist.valence_distribution.inspect %></dd>
</dl>
